<div class="jumbotron">
    <h1>dmr-webservice</h1>

    <p>DMR (Dansk Motor Register) Webservice (Scraper)</p>

    <p>Scraperen henter data fra Motorregistret og pakker dem ind i et typestærkt retur-objekt.</p>

    <h2>Installation</h2>

    <p>Installeres på IIS webserver eller lign server med .NET 4.7, som kan hoste et ASP.NET website.</p>

    <h2></a>Brug</h2>
    
    <p>Åbn siden i browser og åbn <a href="/help">/Help</a> for at få hjælp om API'et</p>

    <pre><code>
    /api/{nummerplade} giver oplysninger om køretøj

    /api/{nummerplade}/{dato} giver historiske oplysninger
    </code></pre>
</div>
